<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="style/chatStyle.css">
    <!-- <link rel="stylesheet" href="style/mediaQueries.css"> -->
</head>

<body>

    <button id="chatbot-icon">
        <img src="style/images.png">
    </button>
    <section class="chatbot-area hide">
        <div class="top-area">
            ABSLI Chatbot
        </div>
        <div class="content-area">
            <div class="bot-reply">
                <div class="upwardT"></div>
                <div class="bot-text">
                    Welcome to ABSLI chatbot! Ask us anything about ABSLI Digishield Plan - which is Term Life Insurance
                    provided by Aditya Birla Capital.
                </div>
            </div>
        </div>
        <div class="form">
            <input id="userinput" type="text" placeholder="Ask us anything!">
            <button id="sendBtn" type="button">Send</button>
        </div>
    </section>
</body>
<script type="module" src="js/chatbot.js">
</script>

</html>